@font-face {
    font-family: 'noto_monoregular';
    src: url('../fonts/notomono/NotoMono-Regular-webfont.eot');
    src: url('../fonts/notomono/NotoMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notomono/NotoMono-Regular-webfont.woff2') format('woff2'),
         url('../fonts/notomono/NotoMono-Regular-webfont.woff') format('woff'),
         url('../fonts/notomono/NotoMono-Regular-webfont.ttf') format('truetype'),
         url('../fonts/notomono/NotoMono-Regular-webfont.svg#noto_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'greyscalebasicregular';
    src: url('../fonts/greyscale/Greyscale_Basic_Regular-webfont.eot');
    src: url('../fonts/greyscale/Greyscale_Basic_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/greyscale/Greyscale_Basic_Regular-webfont.woff2') format('woff2'),
         url('../fonts/greyscale/Greyscale_Basic_Regular-webfont.woff') format('woff'),
         url('../fonts/greyscale/Greyscale_Basic_Regular-webfont.ttf') format('truetype'),
         url('../fonts/greyscale/Greyscale_Basic_Regular-webfont.svg#greyscalebasicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hartingplain';
    src: url('../fonts/harting/Harting_plain-webfont.eot');
    src: url('../fonts/harting/Harting_plain-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/harting/Harting_plain-webfont.woff2') format('woff2'),
         url('../fonts/harting/Harting_plain-webfont.woff') format('woff'),
         url('../fonts/harting/Harting_plain-webfont.ttf') format('truetype'),
         url('../fonts/harting/Harting_plain-webfont.svg#hartingplain') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CooperHewitt-Light';
    font-style: normal;
    font-weight: normal;
    src: local('CooperHewitt-Light'), url('../fonts/cooper/CooperHewitt-Light.woff') format('woff');
}

#page_accueil {
    background-color: rgb(227, 239, 250);
}

#jeremy {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #24292e;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 50px;
    margin-right: 50px;
}
#headerMain {
    margin-top: 100px;
}
#headerPages {
    margin-top: 100px;
}
#divBio {
    display: flex;
    justify-content: center;
    
}
#mainBio {
    color: #ececec;
    width: 400px;
    margin-top: 50px;
}
#mainContact {
    display: flex;
    justify-content: center;
}
#mainIndex {
    display: none;
}
#responsiveNav {
    display: none !important;
}
#mainExp {
    color: #ececec;
}
.fontSize {
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #ececece3;
    font-family: 'greyscalebasicregular', Courier, monospace;
    font-size: 25px;
}
a:hover {
    color: #ececec;
    transition-duration: 0.3s;
    text-decoration: none;
}

a:active, a:focus{
    outline-style:none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    width: 35%;
    transition-duration: 0.3s;
    text-align: center;
}
li:hover {
    background-color: rgba(104, 94, 94, 0.212);
    border-radius: 12px;
    box-shadow: 1px 1px 4px black;
}
li > a {
    color: #ecececc0;
    display: block;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


.bloc_contact {
    border: 1px solid grey;
    border-radius: 4px;
    width: 400px;
    height: 380px;
    padding: 20px;
    background-color: rgba(19, 30, 34, 0.603);    
    box-shadow: 2px 2px 6px black;
    color: #ececec;   
}


#push {
    font-size: 40px;
    font-weight: bold;
}
.required {
    color: rgb(221, 37, 37);
    font-size: 0.9em;
}

#hide_display {
    display: none;
    border-top: 1px outset rgba(32, 153, 209, 0);
    border-bottom: 1px inset rgba(32, 153, 209, 0);
    animation-name: slidein;
    animation-duration: 0.3s;
    background-color: #92888800;
    animation-timing-function: ease-in-out;
    transform: matrix(0.9, 0, -0.3, 1, 0, 0);
    border-radius: 8px;
}
#show_display {
    display: block;
    height: 120px;
    background: #92888800;
    border-top: 1px outset rgba(32, 153, 209, 0);
    border-bottom: 1px inset rgba(32, 153, 209, 0);
    transform: matrix(0.9, 0, -0.3, 1, 0, 0);
    border-radius: 8px;
}

@keyframes slidein {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
}
/* barre de progression */
#progressbar {
    width: 50%;
    margin: auto;
    background-color: rgba(184, 181, 181, 0.116);
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    border: 2px solid #92888828;
}
  
#progressbar > #html {
    background-color: #ecececcb;
    width: 90%;
    height: 20px;
    border-radius: 10px;
}
#progressbar > #boot {
    background-color: #ecececcb;
    width: 60%;
    height: 20px;
    border-radius: 10px;
}
#progressbar > #js {
    background-color: #ecececcb;
    width: 76%;
    height: 20px;
    border-radius: 10px;
}
#progressbar > #bash {
    background-color: #ecececcb;
    width: 50%;
    height: 20px;
    border-radius: 10px;
}
#progressbar > #php {
    background-color: #ecececcb;
    width: 65%;
    height: 20px;
    border-radius: 10px;
}

#progressbar > #ajax {
    background-color: #ecececcb;
    width: 75%;
    height: 20px;
    border-radius: 10px;
}
#progressbar > #laravel {
    background-color: #ecececcb;
    width: 30%;
    height: 20px;
    border-radius: 10px;
}
#progressbar span {
    margin-left: 15px;
    font-family: 'greyscalebasicregular' , Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/* Page Realisations */
#mainReal {
    color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.real_img {
    width: 250px;
    height: 250px;
}
.pReal{
    width: 250px;
    text-align: center;
    margin-top: 40px;
}
.divReal {
   width: 20%;
   display: flex;
   flex-direction: column;
   margin: auto;
}


/* Page Experience */
.divExp .pExp {
    font-size: 1.3em;
    text-align: inherit;
}
.logo_ocr, .logo_it {
    width: 40px;
    height: 40px;
}
.contentDivExp {
    display: flex;
}
.contentDivExp, .logo {
    margin-right: 30px;
    margin-top: 13px;
}

/* Titre pas d'accueil */
/* Page Compétences */
    

#mainComp {
    background-color: #2b2b2b;
    width: 600px;
    height: 700px;
    margin: auto;
    border: 2px solid rgb(34, 33, 33);
    padding: 12px;
    -webkit-box-shadow: 2px -1px 135px -19px rgba(0,0,0,1);
    -moz-box-shadow: 2px -1px 135px -19px rgba(0,0,0,1);
    box-shadow: 2px -1px 135px -19px rgba(0,0,0,1);
}

.pComp {
    font-family: 'CooperHewitt-Light', 'Courier New', Courier, monospace;
    color: antiquewhite;
    width: 200px;
}

.imgComp {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.flex {
    display: flex;
    margin-top: 10px;
}
.reiki_img {
    width: 235px;
}
.html {
    width: 120px;
}
.html-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.html-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 258px;
    height: 24px;
    background: #4285F3;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.html-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 258px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.bootstrap-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.bootstrap-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 240px;
    height: 24px;
    background: #563d7c;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.bootstrap-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 240px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}
.js-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.js-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    background: #f7df1e;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.js-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.node-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.node-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 24px;
    background: #43853d;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.node-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 150px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}
.php-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.php-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 220px;
    height: 24px;
    background: #787cb4;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.php-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 220px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}
.laravel-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.laravel-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 170px;
    height: 24px;
    background: #f4645f;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.laravel-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 170px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.mysql-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.mysql-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    background: #00628B;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.mysql-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.wp-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.wp-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 230px;
    height: 24px;
    background: #02779A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.wp-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 230px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.git-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.git-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 247px;
    height: 24px;
    background: #24292e;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.git-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 247px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}
.en-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.en-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 260px;
    height: 24px;
    background: rgb(83, 92, 173);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}
.en-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 260px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

/* Responsive Nav */
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menuResp
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuResp li
{
  padding: 10px 0;
  font-size: 22px;
  background-color: #24292e;
  width: 80%;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
@media screen and (max-width: 640px) {
    body {
        background-image: none;
    }
    .menu {
        display: none;
    }
    main {
        margin-top: 100px;
    }


    /* Menu */

    li:hover {
        border-radius: 0px;
    }
    #responsiveNav {
        display: block !important;
    }

    /* Page Compétences */

    #mainComp {
        margin-top: 100px;
        width: 360px;
        height: 1100px;
        position: relative;
        z-index: -1;
    }
    .pComp {
        display: none;
    }
    .imgComp {
        margin-bottom: 5px;
    }
    .css_img {
        position: absolute;
        left: 80px;
    }
    .flex {
        flex-direction: column;
    }

    /* Page Réalisations */

    .real_img {
        width: 150px;
        height: 150px;
    }
    .pReal{
        width: 150px;
    }
}